.leftBox {
  width: 41.5%;
  border-right: 1px solid black;
}

.leftBox__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}

.riot__logo {
  width: 55px;
  height: 45px;
  padding-left: 50px;
}

.what__box {
  background-color: white;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 52px;
}
.what {
  width: 9px;
  height: 9px;
}

.leftBox__main {
}
